<div class="about">
<h2>
  About
  <small class="text-muted">Why it's important</small>
</h2>
<br/>
<p class="lead">Benefits for Youth, Families, & Communities</p>

<ul>
<blockquote class="lead">
  <p class="mb-0">
    <li>"Effective afterschool programs bring a wide range of benefits to youth, families and communities. Afterschool programs can boost academic performance, reduce risky behaviors, promote physical health, and provide a safe, structured environment for the children of working parents.</li>
<br/>
    <li>Attending afterschool programs can improve students’ academic performance. A national evaluation found that over 40 percent of students attending 21st Century Community Learning Center programs improved their reading and math grades, and that those who attended more regularly were more likely to make gains (Naftzger et. al., 2007).</li> 
 <br/>
    <li>Effective afterschool programs can improve classroom behavior (Wisconsin Department of Public Instruction, 2010), school attendance, academic aspirations, and can reduce the likelihood that a student will drop out (Huang, Leon, La Torre, Mostafavi, 2008).</li> 
 <br/>
     <li>Participation in afterschool programs has been associated with reduced drug use (Investing in Our Young People, University of Chicago, 2006) and criminal behavior (UCLA National Center for Research on Evaluation, Standards and Student Testing, 2007).</li> 
 <br/>
     <li>Afterschool programs can play an important role in encouraging physical activity and good dietary habits. Participation in afterschool programs has been associated with positive health outcomes, including reduced obesity (Mahoney, J., Lord, H., & Carryl, 2005).</li> 
 <br/>
     <li>Working families and businesses also derive benefits from afterschool programs that ensure that youth have a safe place to go while parents are at work. Parents concerned about their children’s afterschool care miss an average of eight days of work per year, and this decreased worker productivity costs businesses up to $300 billion annually (Brandeis University, Community, Families and Work Program, 2004 and Catalyst & Brandeis University, 2006)." </li> 
<br/> <br/>
    <footer class="blockquote text-center">Youth.gov<cite title="Source Title"><p><em>https://youth.gov/youth-topics/afterschool-programs/benefits-youth-families-and-communities</em></p></cite></footer>
</p>
</ul>

</div>