<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>

        <div class="navbar-item has-dropdown is-active">
          <a class="navbar-link">
            Teachers
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Teachers
            </a>
            <a class="navbar-item">
              <a href=<%= new_teacher_path %>>Sign up </a>
            </a>
            <a class="navbar-item">
              <a href=<%= "teachers/login" %>>Log in</a></p>
            </a>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-active">
            <a class="navbar-link">
              Parents
            </a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item">  
                <a href=<%= new_parent_path %>>Sign up </a>
              </a>
              <a class="navbar-item">
                  <a href=<%= parent_login_path %>>Log in</a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Find After School Activities 
      </p>
      <p class="subtitle">
        Rated by parents and endorsed by teachers, from dance to tutoring to daycare, find the best activities for your kids
      </p>
    </div>
  </div>