<h1> Username - <%= @teacher.username %> </h1>
<p> Email - <%= @teacher.email %> </p>
<p> Zipcode - <%= @teacher.zipcode.zip_num %> </p>

<br/>

<% if @teacher.endorsements.length == 0 %>

  <p>This teacher has not endorsed any activities yet</p>

<% else %>
    <ol>
    <% @teacher.endorsements.each do |endorsement_instance| %>
        <li>
        <%= link_to endorsement_instance.activity.name, endorsement_instance.activity %>
        </li>
    <% end %>
<% end %>

</ol>