<section class="profile">
  <div class="profile__info">
    
    <h1>Teacher Profile</h1>

      <p> Username: <%= @teacher.username %> </p>
      <p> Email: <%= @teacher.email %> </p>
      <p> Zipcode: <%= @teacher.zipcode.zip_num %> </p>

      <br/>

      <h2> Endorsements </h2>

      <% if @teacher.endorsements.length == 0 %>

        <p>This teacher has not endorsed any activities yet</p>

      <% else %>
          <ol>
          <% @teacher.endorsements.each do |endorsement_instance| %>
              <li>
              <%= link_to endorsement_instance.activity.name, endorsement_instance.activity %>
              </li>
          <% end %>
      <% end %>

      </ol>

</div>