<h1>Endorsements#edit</h1>
<p>Find me in app/views/endorsements/edit.html.erb</p>

<% if logged_in? %>
        Welcome, <%= logged_in_user.username %>!
        <%= button_to "Log out", "/logout" %>
      <% else %>
        <%= link_to "Log In", parent_login_path %>
      <% end %>